<p>
	{{welcome}}
	
	Enclosure Name: <input ng-model="enclosureName" type="text" name="name"><br>
	Animals: <input ng-model="enclosureAnimals" type="text" name="animal"><br>
	Number of Animals: <input ng-model="enclosureNumAnimals" type="text" name="number of animals"><br>
	Feeding Time: <input ng-model="enclosureFeedTime" type="text" name="feeding time"><br>
	Enclosure Condition: <input ng-model="enclosureCondition" type="text" name="condition"><br>
	<button ng-click="newEnclosure()" type="button">submit</button>
	
	{{message}}
</p>