<form name="enclosureForm">
	Enclosure Name: 	 <input ng-model="enclosureName" 		name="name"					type="text"  	required><br>
	Animals: 			 <input ng-model="enclosureAnimals" 	name="animal" 				type="text"		required><br>
	Number of Animals: 	 <input ng-model="enclosureNumAnimals" 	name="number of animals" 	type="number" 	required><br>
	Enclosure Condition: <input ng-model="enclosureCondition" 	name="condition" 			type="text"		required><br>
	Feeding Time: 		 <input ng-model="enclosureFeedTime" 	name="feeding time" 		pattern="[1]*[0-9]{1}:[0-9]{2}\s[A, P, a, p][M, m]" required>
	<br>
	ex: 4:00 AM, 12:00 PM
	<br>
	
	<button ng-click="newEnclosure(); viewEnclosures()" ng-disabled="enclosureForm.$invalid" type="submit">submit</button>
</form>

<button ng-click="viewEnclosures(); toggle()" type="button">{{enclosureStatus}}</button>
<div class="container" ng-show="showTable">
	<div>
		<table class="table table-bordered table-striped table-condensed table-hover">
			<tr class="info">
				<td><strong>Enclosure Name		</strong></td>
				<td><strong>Animal				</strong></td>
				<td><strong>Number Of Animals	</strong></td>
				<td><strong>Feeding Time		</strong></td>
				<td><strong>Condition			</strong></td>
				<td><strong>Enclosure Options	</strong></td>
			</tr>
			<tr ng-repeat="enclosure in enclosureObjects" class="info">
				<td>{{enclosure.enclosureName}}		</td>
				<td>{{enclosure.animal}}			</td>
				<td>{{enclosure.numberOfAnimals}}	</td>
				<td>{{enclosure.feedingTime}}		</td>
				<td>{{enclosure.condition}}			</td>
				<td>
					<button type="button" ng-click="updateEnclosure(enclosure)" 								class="btn btn-warning">Update</button>
					<button type="button" ng-click="deleteEnclosure(enclosure.enclosureId); viewEnclosures();" 	class="btn btn-danger">Delete</button>
				</td>
			</tr>
		</table>
	</div>	
</div>



